body {
    max-width: 100ch;
    font: 100%/1.5 system-ui;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1em;
    color: canvastext; 
    background-color: canvas; 
}

nav ul {
    display: contents;
}

nav li {
    display: contents;
}

nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid #d3d3d3; 
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
    box-shadow: 0 4px 6px color-mix(in oklch, black, canvas 20%);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(90% 3% 200);
    padding-bottom: 0.1em;
}

:root {
    --color-accent: oklch(65% 50% 0);
}

html {
    accent-color: var(--color-accent);
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

input, textarea, button {
    font: inherit;
}

form label, form input, form textarea, form button {
    display: block;
}

form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    grid-column: 2;
}

form label {
    margin-block: 0.5em;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

form button {
    margin-top: 1em;
    grid-column: 2;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects > article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

.projects > article h2 {
    margin: 0;
}

h1 {
    font-size: 4em;
    line-height: 1.1;
    text-wrap: balance;
    margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    margin: 0.5em 0;
}
img {
    max-width: 100ch;
    padding: 1em;
}
nav a.current {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}
:root {
    color-scheme: light dark;
}
a {
    color: var(--color-accent);
}
.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%; 
    font-family: inherit; 
}
  
.color-scheme select {
    font-family: inherit; 
}

.project-year {
    color: gray;
    font-size: 0.9em;
    margin-top: 4px;
    font-family: Baskerville, serif;
    font-variant-numeric: oldstyle-nums;
}
#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
}
.container {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
    max-width: 40em;
    margin: auto;
    padding: 1em;
}
  
.legend {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    border: 1px solid #ccc;
    padding: 1em;
    background: white;
    border-radius: 8px;
    flex: 1;
    justify-content: center;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    list-style: none;
}

.legend-item .swatch {
    width: 1em;
    height: 1em;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 50%;
    display: inline-block;
}
#projects-pie-plot path {
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}
  
#projects-pie-plot:has(path:hover) path:not(:hover) {
    opacity: 0.5;
}
  
.selected {
    --color: oklch(60% 45% 0) !important;
}
  
.selected:is(path) {
    fill: var(--color);
}
  
.selected.legend-item {
    font-weight: bold;
    text-decoration: underline;
}
  
  
  




